Source: rear
Section: admin
Priority: optional
Maintainer: Thomas Schumm <thomas.schumm@gmx.de>
Standards-Version: 3.9.3
Build-Depends: asciidoc (>= 8.5.2),
               debhelper (>= 7.4.15),
               source-highlight (>= 3.1.3),
               xmlto (>= 0.0.23)
Homepage: http://relax-and-recover.org/
Vcs-Git: git://github.com/thumm/rear_deb.git
Vcs-Browser: https://github.com/thumm/rear_deb

Package: rear
Architecture: all
Depends: ${misc:Depends},
         bootcd,
         cpio,
         genisoimage,
         iproute,
         kbd,
         lsb-release,
         mingetty,
         parted
Suggests: binutils,
          bridge-utils,
          btrfs-tools,
          cryptsetup-bin,
          dmsetup,
          dosfstools,
          ethtool,
          iputils-ping,
          lvm2,
          module-init-tools,
          nfs-client,
          portmap,
          syslinux,
          reiserfsprogs,
          udev
Description: bare metal disaster recovery and system migration solution
 Relax-and-Recover produces a boot-able image which can recreate the system's
 original storage layout. Once that is done it initiates a restore from backup.
 Since the storage layout can be modified prior to recovery, dissimilar
 hardware and virtualization is supported, Relax-and-Recover offers the
 flexibility to be used for complex system migrations, supports various boot
 media as well as a multitude of backup strategies.
 .
 It has to be installed on the system for which a recovery image should be
 created.
 .
 Recovering from disaster is made very straight-forward by a 2-step recovery
 process so that it can be executed by operational teams when required.
 When used interactively (e.g. when used for migrating systems), menus help
 make decisions to restore to a new (hardware) environment.
 .
 Extending and integrating Relax-and-Recover into complex environments is made
 possible by its modular framework. Consistent logging and optionally extended
 output help understand the concepts behind Relax-and-Recover, troubleshoot
 during initial configuration and help debug during integration.
