#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

distversion:=$(shell head -1 debian/changelog | cut -d"(" -f2 | cut -d")" -f1)

%:
	dh $@ 

override_dh_auto_build:
	dh_auto_build -- doc

override_dh_install:
	dh_install
	sed -i \
	    -e 's#^VERSION=.*#VERSION="$(distversion) (Debian)"#' \
	    debian/rear/usr/sbin/rear
	sed -i \
	    -e 's#/usr/share/doc#/usr/share/doc/rear#' \
	    debian/rear/usr/share/man/man8/rear.8

override_dh_installchangelogs:
	dh_installchangelogs -k doc/rear-release-notes.txt

get-orig-source:
	debian/get-orig-source
